@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 0;
}

.spinner {
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 45vh;
  left: 45vw;
  background-color: transparent;
}

@keyframes podcast-animation {
  from {
    border-radius: 100%;
    transform: scale(100%);
  }
  to {
    border-radius: 10px;
    transform: scale(110%);
    box-shadow: 7px 7px 7px gray;
  }
}

@keyframes podcast-animation-from-hover {
  from {
    border-radius: 10px;
    transform: scale(110%);
    box-shadow: 7px 7px 7px gray;
  }
  to {
    transform: scale(100%);

    border-radius: 100%;
  }
}

.podcast--container:hover {
  .podcast--image {
    transform: scale(110%);
    box-shadow: 7px 7px 7px gray;
    animation-name: podcast-animation;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
  }
}

.podcast--container {
  display: flex;
  align-items: flex-start;
  width: 80vw;
  padding: 2vw;
  border-radius: 10px;
}

.podcast--image {
  width: 12vw;
  height: 12vw;
  border-radius: 100%;
  box-shadow: 5px 5px 5px gray;
  pointer-events: none;
  margin-top: 5vh;
  animation-name: podcast-animation-from-hover;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

p {
  margin: 1vh;
}

.podcast--info--container {
  width: 100%;
  height: 100%;
  text-wrap: wrap;
  pointer-events: none;
  padding: 2vw;
  margin-left: 5vw;
}

.podcast--title {
  font-weight: 600;
  font-size: 3vh;
  color: rgb(46, 46, 46);
  pointer-events: none;
  margin-top: 0;
  padding-top: 0;
}

.podcast--info {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 2vh;
  margin-left: 2vw;
  color: rgb(72, 72, 72);
  pointer-events: none;
}

.secondary--button:hover {
  transform: scale(110%);
}

.favorite--filled {
  filter: brightness(0) saturate(100%) invert(60%) sepia(85%) saturate(3828%)
    hue-rotate(325deg) brightness(118%) contrast(109%);
}

.secondary--button {
  background-color: transparent;
  border-style: none;
  pointer-events: all;
}

.icon--container {
  display: flex;
  justify-content: space-between;
  width: 5vw;
}

.podcast--description {
  font-weight: 200;
  font-size: 2vh;
  margin-left: 2vw;
  font-style: italic;
  color: rgb(129, 129, 129);
  pointer-events: none;
  /* display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.header--text {
  padding-left: 2vw;
}

.header--button--container {
  display: flex;
  height: 100%;
  width: 18%;
  justify-content: flex-end;
  padding-right: 2vw;
  align-items: center;
}

.search--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary--button:hover {
  transform: scale(120%);
}

.primary--button {
  height: 5vh;
  width: auto;
  background-color: transparent;
  border-radius: 5px;
  border-color: white;
  border-image: none;
  border-style: none;
}

.search--input {
  height: 3vh;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0px 0px 2px gray;
  width: 12vw;
}

.main--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailed--podcast--main--container {
  display: flex;
  position: fixed;
  text-wrap: wrap;
  width: 93vw;
  height: 93vh;
  top: 0;
  left: 0;
  background-color: white;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: flex-start;
  padding: 3.5vw;
}

.podcast--details {
  overflow-y: auto;
  height: 38vh;
}

.detailed--image--container {
  display: flex;
  flex-direction: column;
}

.detailed--info--container {
  padding: 0;
  padding-top: 0;
  pointer-events: all;
  height: 100vh;
  width: 80vw;
}
.back--button {
  position: absolute;
  top: 1vw;
  left: 1vw;
}

.detailed--podcast--image {
  width: 25vw;
  height: 25vw;
  margin-top: 0;
}

.back--button:hover {
  box-shadow: 0px 0px 2px gray;
}
.back--button:active {
  transform: scale(90%);
}
.back--button {
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: large;
  border-radius: 5px;
}

.image--spinner {
  width: 1vw;
  height: 1vw;
  box-shadow: none;
}

.sort--container {
  margin-top: 2vh;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 2vw;
}

.sort--select {
  width: 6vw;
  height: 3vh;
  border-radius: 5px;
}

.sort--text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding-right: 0.2vw;
}

.season--container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 2px gray;
  padding-left: 2vw;
  border-radius: 5px;
  overflow-y: auto;
  height: 45vh;
  margin-top: 4vh;
}

.season--image {
  margin: 2vh;
  margin-left: 2vw;
  width: 6vw;
  height: 6vw;
  border-radius: 5px;
}
.select--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  z-index: 1;
}

.sort--text {
  margin-left: auto;
}
.season--select {
  height: 4vh;
}

.season--text {
  font-size: large;
}

.num--of--episodes {
  padding-left: 1.5vw;
}

.episode--text {
  padding-left: 1vw;
}

.main--profile--container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  display: flex;
  padding: 4vw;
  justify-content: flex-start;
  align-items: flex-start;
}

.show {
  width: 20vw;
  text-align: left;
  margin-left: auto;
}

.favorite {
  width: 75%;
  text-align: le;
  display: flex;
  align-items: center;
}

.basic--user--details {
  display: flex;
  flex-direction: column;
}

.audio--player {
  position: absolute;
  bottom: 6vh;
  width: 100vw;
  left: 0;
  border-radius: 0;
}

.login--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 15vw;
}

.login--container {
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.login--details {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

.button--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login--button,
.signup--button,
.login--input {
  width: 5vw;
  height: 3.5vh;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.login--button:hover,
.signup--button:hover {
  background-color: rgb(93, 141, 245);
  color: white;
}

.login--button:active,
.signup--button:active {
  transform: scale(120%);
}
.login--button {
  box-shadow: 0px 0px 1px gray;
  color: rgb(93, 141, 245);
}

.signup--button {
  box-shadow: 0px 0px 1px gray;
  color: rgb(93, 141, 245);
}

.login--input {
  box-shadow: 0px 0px 1px gray;
  width: 10vw;
  padding-left: 0.5vw;
}

.login--input::placeholder {
  color: rgb(181, 181, 181);
  font-style: italic;
}

.error {
  color: rgb(252, 89, 89);
  font-size: 1.5vh;
  margin: 0;
  margin-top: 2vh;
  font-style: normal;
  text-align: center;
}

.favorites--table {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 90vw;
  height: 80vh;
  position: static;
}

.table--row {
  display: flex;
  width: 75vw;
  align-items: center;
  margin-bottom: 1vh;
}

.table--heading {
  font-size: x-large;
  font-weight: 600;
}

.table--episode {
  width: 30vw;
  justify-content: flex-start;
  align-items: center;
}

.favorite--date {
  font-size: small;
  padding: 0;
  margin: 0;
  font-style: italic;
  color: rgb(143, 143, 143);
}

.table--show {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  width: 35vw;
  margin-left: auto;
}

.table--button:hover {
  transform: scale(120%);
  filter: invert(54%) sepia(24%) saturate(1117%) hue-rotate(313deg)
    brightness(96%) contrast(110%);
}

.table--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: white;
}

.favorites {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorites > .sort--container {
  margin: 0;
  padding: 0;
  padding-top: 3vh;
}

.favorites > .podcast--title {
  margin: 0;
  padding: 0;
  padding-top: 3vh;
}

.carousel--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 96vw;
  height: 60vh;
  border-radius: 10px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.carousel--title {
  color: rgb(203, 203, 203);
  margin-bottom: 3vh;
  font-size: 3vh;
}

.carousel--podcast {
  padding-bottom: 2vh;
  padding: 2vh;
  border-radius: 100%;
}

.carousel--description {
  color: rgb(203, 203, 203);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 3vh;
}

@media screen and (max-width: 500px) {
  .header {
    width: 110vw;
  }

  .header--text {
    padding-left: 7vw;
  }

  .search--input {
    height: 3vh;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 2px gray;
    width: 12vw;
  }

  .sort--select {
    width: 10vw;
  }

  .spinner {
    width: 20vw;
    height: 20vh;
    top: 40vh;
    left: 40vw;
  }

  .sort--container {
    margin-top: 2vh;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 7vw;
  }

  .podcast--container {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    border-radius: 10px;
  }

  .podcast--image {
    width: 35vw;
    height: 35vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    pointer-events: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .detailed--podcast--main--container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 95%;
    width: 100%;
    padding-bottom: 10vh;
    overflow-y: scroll;
  }

  .detailed--podcast--main--container > .podcast--image {
    margin-top: 30vh;
  }

  .podcast--details {
    overflow-y: hidden;
    height: auto;
  }

  .podcast--info,
  .episode--text {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    font-weight: 400;
    font-size: 2vh;
    margin-left: 2vw;
    color: rgb(72, 72, 72);
    pointer-events: none;
  }

  .podcast--description {
    height: auto;
  }

  .podcast--info--container {
    padding-top: 10vh;
    width: 100vw;
    height: 100%;
  }
  .podcast--info--container > .podcast--details {
    height: 100%;
  }

  .season--container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-bottom: 3vh;
    box-shadow: 0px 0px 2px gray;
    padding: 5vw;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5vh;
    width: 90vw;
    height: 100%;
  }

  .detailed--podcast--main--container > .podcast--info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .back--button {
    position: absolute;
    top: 2vh;
    left: 2vh;
  }

  .login--main {
    width: 80vw;
  }

  .login--button,
  .signup--button {
    width: 20vw;
    height: 5vh;
  }

  .login--input {
    width: 60vw;
    height: 5vh;
  }

  .login--container {
    margin-bottom: 5vh;
  }

  .favorites--table {
    width: 98vw;
  }

  .table--row {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1vh;
  }

  .table--heading {
    font-size: large;
    font-weight: 600;
  }

  .table--episode {
    display: flex;
    width: 30vw;
    align-items: center;
    font-size: small;
  }

  .table--show {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    width: 35vw;
    font-size: small;
  }

  .table--button:hover {
    transform: scale(120%);
    filter: invert(54%) sepia(24%) saturate(1117%) hue-rotate(313deg)
      brightness(96%) contrast(110%);
  }

  .table--button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    font-size: small;
    margin-left: 5vw;
  }

  .sticky {
    position: sticky;
    top: 0;
    background-color: white;
  }

  .main--profile--container {
    padding-top: 5vh;
  }

  .favorites {
    margin-bottom: 2vh;
  }
}
